<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Savvix AI</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/contact.css') }}">
</head>
<body>
    <div class="contact-wrapper">
        <h1>Contact Savvix AI</h1>
        <p class="intro">
            Got a message, idea, or feedback? Drop it below and we’ll get back to you soon!
        </p>

        <form class="contact-form">
            <label>Your Name</label>
            <input type="text" placeholder="Ghost Savvix" >

            <label>Your Email</label>
            <input type="email" placeholder="cozmicksavvy@gmail.com">

            <label>Phone Contact</label>
            <input type="text" placeholder="+265 ..." >

            <label>Your Message</label>
            <textarea placeholder="Type your message here..."></textarea>

            <button class="submit" onclick="submit()">Send Message 🚀</button>
            <script>
                function submit(){
                    alert("Your message has been successifully sent!")
                }
            </script>

          
        </form>

        <div class="contrib-message">
            <p>💠 Any contribution to this project will help us grow and will be appreciated.<br>
            You can contact me through the email:cozmicksavvy@gmail.com  . Thanks 🙏</p>
        </div>

        <a href="/" class="back-link">BACK</a>
        <p class="signature">@Made by Savestar</p>
    </div>
</body>
</html>
